@font-face {
  font-family: 'Teachers';
  src: url("{% static 'fonts/Teachers-SemiBoldItalic.otf' %}") format('opentype');
  font-weight: 600; /* SemiBold обычно соответствует 600 */
  font-style: italic;
}



body {
  margin: 0;
  font-family: 'Teachers', 'Segoe UI', sans-serif;
  font-weight: 600;
  font-style: italic;
  background: #f7f9fc;
  color: #333;
}

.build-header {
  text-align: center;
  padding: 40px 20px;
  background-color: #e3f2fd;
  border-bottom: 2px solid #aad9f8;

  h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #0d47a1;
  }

  p {
    font-size: 18px;
    color: #555;
  }
}

.build-gallery {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  

  h2 {
    font-size: 28px;
    color: #1976d2;
    margin-bottom: 15px;
  }
}

.gallery-section {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column; /* если хочешь вертикально */
  gap: 40px;              



  img, iframe {

    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    object-fit: cover;
  }
}

.img2{
        position: relative;
    top: 50px;
}


.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  img {
    height: 300px;
  }
}


.back-footer {
  text-align: center;
  margin: 40px 0;
}

.back-button {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(135deg, #1976d2, #0d47a1);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.back-button:hover {
  background: linear-gradient(135deg, #0d47a1, #1976d2);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}
