
  
  .container5 {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  #tranding {
    padding: 2rem 0;
  }
  
  #tranding .tranding-slider {
    height: auto;
    padding: 1rem 0;
    position: relative;
    top:150px;
    bottom: 50px;
  }
  
  .tranding-slide {
    width: 25rem;
    height: 30rem;
    position: relative;
  }
  
  .tranding-slide .tranding-slide-img img {
    width: 25rem;
    height: 30rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .slider-arrow {
    background-color: #f4f4f4;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .slider-arrow:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
  }
  

  
  .swiper-pagination {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.7;
  }
  
  